@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--background: #101010;
	--foreground: #ffffff;
	--muted: #a0a0a0;
	--card: #1c1c1c;
	--card-border: #2d2d2d;
}

html { scroll-behavior: smooth; }

body {
	background-color: var(--background);
	color: var(--foreground);
}


